.bar-container {
  display: flex;
  flex-direction: column;
  
}

.layout__header {
  display: flex;
  flex-direction: column;
  width: 100%;
  border:1px solid red;
}

Navigation {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;

}

Link {
  font-size: 10px;
  color: red;
}
a:Link {
    font-size: 30px;
    color: red;
}
