.movieItemGrid {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  flex-direction: row;
  grid-gap: 40px 50px;
}

.movieItemGrid .movieItems {
  padding: 20px 30px;
  width: 200px;
  grid-gap: 40px 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px 100px;
  padding: 10px;
}

.page-container{
  width: 800px;
  margin: 10px auto;
  background: black;
  color: white;
  grid-row-gap: 50px;
}

.title{
  font-size: 50px;
  text-align: center;
  color: white;
}

body {
  background-color: black;
  color: white;
}
