.rmdb-movie {
  margin-bottom: 100px;
  background-color: black;
  color: white;
}

.rmdb-movie-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.WishlistBtn {
  padding: 15px;
  background-color: blue;
  font-size: 30px;
  border-radius: 50px;
  margin-right: 20px;
  margin-top:5px;
}

.WishlistBtn:hover{
  background-color: gray;
}

.CartBtn {
  padding: 15px;
  background-color: green;
  font-size: 30px;
  border-radius: 50px;
  margin-left: 20px;
  margin-top:5px;
}
.CartBtn:hover {
    background-color: gray;
}

.Btns {
  background: black;
  display: flex;
  justify-content: center;
  padding-top: 10px

}
