.WishListbody {
  width:1000%;
  height:100%;
  margin: 20px;
  padding: 20px;
}
/* 
img {
  vertical-align: middle;
} */

.wishlistcard {
  width: 100%;
}

.media{
    height: 140;
}

.info_container {
    padding-top:25px;
}
